### macOS
.DS_Store
._*
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Xcode
# User-specific
xcuserdata/
*.xcuserstate

# Build artifacts
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcresult

# State files
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Playgrounds
timeline.xctimeline
playground.xcworkspace

### Swift Package Manager
.build/
.swiftpm/

# Package.resolved 建议提交，故不忽略
